/* styles/commonApply.css */
*::after {
    box-sizing: border-box;
    margin: 0; /* Reset margin for all elements */
    padding: 0; /* Reset padding for all elements */
}

body{
    box-sizing: border-box;
}

#popup-body {
    font-family: Jura, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
}

#correctForm {
    padding: 0px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#label {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: none;
    line-height: 15vh;
    background-color: white;
}

#inputText {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding: 10px;
    border-style: solid;
    border-width: 0.8px;
    border-color: #B4B4B4;
    color: black;
    border-radius: 4px;
    resize: none;
}

#inputText ::placeholder {
    color: #959595;
}

#inputText:focus {
    outline: none;
}

Button {
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: #334EAD; /* Bootstrap primary color */
    border-color: #334EAD;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}


#correctButton:hover {
    transition: all 0.1s ease-in-out;
    color: white;
    border-color: rgb(8, 70, 156);
    background-color: rgb(8, 70, 156); /* Darker shade on hover */
}


